html, body {
    margin:0;
    padding:0;
}

/* TOP NAV */

.topnavwrapper {
    background: #1f182a linear-gradient(12deg, #1f182a 34%, #34254b 55%, #0d0a15 82%);

    width:100%;

    margin-top: 2%;
    border-top: solid 5px #82758c;
    border-bottom:solid 5px #82758c;

    box-shadow: 0 0px 50px black;

}

.topnavzone {
    width:62%;
    min-width:1000px;
    margin:auto;
    overflow:hidden;
    padding-left:2%;
    padding-right:2%;
}


.logo {
    color:white;
    padding-top:15px;
    float:left;
    font-family:'Pathway Gothic One', Arial, sans-serif;
    font-size:34px;
    letter-spacing:2px;
}

.topnav {
    width:34%;
    overflow:hidden;
    color: white;
    height: 45px;
    padding-top:30px;
    padding-left:10px;

}

.searchbar{
    display:inline;
    width:22%;
    float:right;
    height: 45px;
    padding-top:15px;
    padding-left:5px;
}

.notifications {
    display:inline;
    width:14%;
    float:right;
    height: 45px;
    padding-top:15px;
    padding-left:15px;
    color:white;
    margin:auto;

}

.logged_in {
    display:inline;
    width:11%;
    float:right;
    height: 100%;
    color:white;
    padding-top:5px;
    background-image:url(../../img/filmroll.png);
    background-size:cover;
    background-position:center;
}

#username_top {
    font-size:0.85vw;
}

.logged_in p {
    word-wrap:break-word;
    text-align:center;
    padding-left:3px;
    padding-right:3px;
}

#logout {
    padding-left:10px;
    padding-right:10px;
    font-size:1.6vh;
}

#logout:hover {
    background-color: black;
}

#logout:active {
    border-top: solid #82758c;
    border-left: solid #82758c;
}

.topnav a {
    padding: 13px;
    text-decoration:none;
    color:lightgrey;
}

.topnav a:hover {
    background-color: black;
    color: #cdc6ef;

}

.topnav a.active {
    color:white;
}

input {
    margin-top:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #1f182a;
    border:none;
    color:lightgrey;
    font-family:'Pathway Gothic One', Arial, sans-serif;
    font-size:18px;
    width:80%;
}

button {
    background:none;
    color:#82758c;
    border:none;
    width:4%;
    padding:8px;
    padding-right:20px;
}

button:hover {
    background-color:black;
}

button:active {
    border-top: solid #82758c;
    border-left: solid #82758c;
}

input:focus {
    outline: solid #c09dd5;
}

/*CENTER WRAPPERS*/

body {
    background-position: center;
    background-size: cover;
    background-color: #0a080e;
}


.centerwrapper {
    margin:auto;
    width:64%;
    color:white;
    overflow:hidden;
    min-width:1000px;
    z-index:99;
}

.content-left {
    margin-left:2%;
    padding-top:1%;
    width:21%;
    padding-right:3%;
    float:left;
}

.content-right {
    padding-top:1%;
    width:21%;
    padding-left:3%;
    float:left;
}

.content-center {
    padding:2%;
}

/*MIDDLE*/

.filmwrapper-outer {
    width:46%;
    float:left;
    border-left: solid 5px #1f182a;
    border-right: solid 5px #1f182a;
    overflow:hidden;
}

.filmwrapper-center {
    border-left:dashed 30px #1f182a;
    border-right:dashed 30px #1f182a;
    border-bottom:solid 10px #1f182a;
}

.filmwrapper-inner {
    border-top: solid 5px #1f182a;
    border-left: solid 5px #1f182a;
    border-right: solid 5px #1f182a;
    overflow:hidden;
    padding-top:4%;
    padding-right:20px;
}

/*FOOTER*/

.footer {
    background-color: #1f182a;
    padding:10px;
    width:100%;
    overflow:hidden;
    position:relative;
    bottom:0;
    border-top: solid 3px #82758c;
    margin-bottom:-15px;
}

.footer > p {
    text-align:center;
    font-size:18px;
    margin-top:4px;
    padding-right:5%;
    color:white;
    text-decoration:none;
    font-family:'Pathway Gothic One', Arial, sans-serif;
}

/*CONTENT*/

.update, .comments {
    border-top:solid 15px #1f182a;
    margin:-3%;
    padding-right:5%;
    padding-bottom:9%;
    float:left;
    width:100%;
    padding-left:30px;
    position:relative;
    overflow:hidden;
}

.comments {
    border-top:solid 10px rgba(31, 24, 42, 0.51)
}

.likes {
    position:absolute;
    bottom:20px;
    right:20px;
}

.update_date {
    float:right;
    color:#756581;
    font-size:smaller;
    margin-top:20px;"
}

.comments strong {
    color: #b67db4;
}

.poster img {
    float:left;
    width:40%;
    margin-right:20px;
    margin-bottom:10px;
    margin-top:10px;
}

h3, h2, h1, h4, p, a {
    color:white;
    font-family:'Pathway Gothic One', Arial, sans-serif;
    text-shadow: 1px 1px 5px black;
    letter-spacing:2px;
}


.content-left h4 {
    margin-bottom:0;
    padding-bottom:0;
    margin-top:0;
    padding-top:0;
}

.content-left p {
    font-size: 13px;
    color:lightgrey;
}

.poster_wts {
    float:left;
    width:50%;
    text-align:center;
    margin-right:10px;
}

.poster_wts img {
    width:90%;
}

.wts_1, .wts_2, .wts_3 {
    overflow:hidden;
    padding-top:0;
    padding-bottom: 30px;
}

#seenbutton_1, #seenbutton_2, #seenbutton_3 {
    margin:auto;
    text-align:center;
    position:relative;
    bottom:10px;
}

#see_more_button a {
    float:right;
    color:#b67db4;
    text-decoration:none;
    font-size:14px;
}

#rate {
    text-decoration:none;
    border: solid #1f182a; border-top: none; padding:5px; background-color:#1f182a
}

#rate:hover {
    background-color: #b67db4;
}



.update h4 {
    font-family:'Pathway Gothic One', Arial, sans-serif;
    font-size:17px;
}

.content-right p {
    color:lightgrey;
}

.genres {
    color:grey;
}

