
.topnavwrapper {
    background-color: black;
    margin-top: 2%;
    text-color:white;
}

.topnav {
    overflow:hidden;
    width:58%;
}
.topnav a {
    float: right;
    text-align:center;
    font-size:18px;
    padding: 10px 30px;
    color:white;
    text-decoration:none;
    font-family:'Pathway Gothic One', Arial, sans-serif;
}

.topnav a:hover {
    background-color: #ED7014;
    color:black;

}

.topnav a.active {
    color:orange;
}

.logo {
    float:left;
    margin-left:20%;
    margin-top:5px;
}


.footer {
    background-color: black;
    padding:10px;
    opacity:0.8;
    margin-left:-10px;
    width:100%;
}

.info {
    width:40%;
    float:left;
    margin-left:20%;
}

.info > p {
    font-size:18px;
    margin-top:4px;
    color:white;
    text-decoration:none;
    font-family:'Pathway Gothic One', Arial, sans-serif;
}

.links {
    width:19%;
    overflow:hidden;
}

.links > a {
    float:right;
    margin-right: 10px;
    margin-top:2px;
}